#form{
    box-sizing: border-box;
    border: 1px  red;

}
body{
    background-color: rgba(245, 228, 228, 0.5);
    margin-top: 2cm;
}
.row{
    font-size: 30px;
}
.form {
    font-size: 30px;
    box-sizing: border-box;
    border: 1px solid gray;
    align-items: center;

}